/* this is a file for learning Intermediate_CSS */


/* a class can be created like this



Maybe a good analogy here is bar codes and serial numbers.
 Take an iPod in a store. On the packaging will be a bar code.
 This tells the store what the product is, so when it is scanned,
  the system knows exactly what the product is and what it costs.
  It might even be able to know what color it is or where it was kept
  in the store. All iPod of this same type have the exact same bar code on them.

The iPod will also have a serial number on it which is absolutely unique
to any other iPod (or any other device) in the world. The serial number
doesn't know the price. It could, but for the store this wouldn't be a very
efficient way to store and use that data. Much easier to use the dbarcode,
so that for example, if the price changed, you could just change the price for
that bar code and not every individual serial number in your system.

This is much like ID's and Classes. Information that is reusable should be kept
 in a class and information that is totally unique should be kept in an ID.
*/
/*
#top {
  background-color: white;


}


/* and an ID can be created like this
and it can be used to identify one element


NO you stupid fuck you got it wrong,
actually . is for class and # is for ID
.intro {

  color: red;
  font-weight: bold;
}

/*
#intro{

}

#intro h1{
  color: red;
}

#intro p{
  color: teal;
}

#testin{

}




div p {
  color: red;

}
p{
  color: blue;
}


    h1.testin{
      color: green;
    }

    p.testin{
      font-style: italic;
    }






a:link{
  color: blue;
}

a:visited{
  color: purple;
}


.intro99 {}
.intro99 h1{
  color: blue ;
  font-size: 80px;

}

.intro99 p{
  color: maroon;
  font-style: oblique;
  font-weight: bold;

  font-size: 40px;
}


/* pseudo classes  */


div{
  border-style: dotted;
}
a:link{
  color: blue;
}

a:visited{
  color: purple ;
}
/* dynamic pseudo classes  */

a:hover{
  text-decoration: overline;
  color: red;
  background: yellow;
}

a:focus{

}


/* shorthand properties */

/*
body{
  background: white url(https://i.redd.it/v3e2umlntz931.jpg)
  repeat top right ;

  background-size: 20px;

}

*/

/* specificity  */


/*
#intro2{

  display: block;

}

intro2 p{
  display: table;
}
*/

p{
  font-size: 12px;
  color: red;
  display: inline;

}

p::first-letter{
  font-size: 24px;
  float:left;
}

p::first-line{
   font-weight: bold;
}


li::before{
  content: "Pow!";
}
