/*hello, this is how you write a comment in a css file

body {
font-size: 14px;
color: navy;
}


inline
<p style="color: red">text</p>

internal

<!DOCTYPE html>
<html>
<head>
<title>CSS Example</title>
<style>

    p {
        color: red;
    }

    a {
        color: blue;
    }

</style>
...


external
p {
    color: red;
}

a {
    color: blue;
}

This will make all of the paragraphs in the page red and all of the links blue.

Although preferable to
Although preferable to

so in here body is an HTML selector
and font and color are the properties
and the 14px and navy is called value


a margin is the space outside something while padding is the space inside something
*/

 p{

   color: #900 ;
   background-color: white;
   font-family: "Times new roman";
   font-style: italic;
   margin: 20px;
   padding: 40px;
   border-style: dashed;
   border-width: 3px;
   text-transform: full-width;

   border-color: red;
   /* this is not working for some reason
     |
     |
     V

    */
   border-left: 10px;

   border-right: 10px;

 }


 a{
   color: blue ;
   text-decoration: none;
 }

 body{
   font-size: 14px;
   color: navy;
 }
